body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404040;
    overflow-x: hidden;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid white;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 20px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: #111;
    padding: 10px 15px;
    border: none;
    box-shadow:0 5px 10px 0 rgba(50,50,50,.33);
  }
  
  /* .openbtn:hover {
    background-color: #444;
  } */
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .sousOnglet{
    background-color: #404040;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    height: 8em;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  .sousOngletActived{
    background-color: #676767;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    height: 8em;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  .sousOnglet:hover{
    color:white;
    text-decoration: none;
  }
  .sousOngletActived:hover{
    color:white;
    text-decoration: none;
  }
  .sousOnglet div{
    margin-top: 3em;
    margin-left: 1em;
  }
  .sousOngletActived div{
    margin-top: 3em;
    margin-left: 1em;
  }
  .sideBarOnglet{
    height:850px;
    background-color:#404040 ;
  }
  .encoche{
    background: url('png/encoche.png');
    position:absolute;
    right:0;
    width: 22px;
    height: 45px;
    background-size:22px 45px;
  }

  .btnChoixActive{
    background-color:#676767 ;
    color:white;
    border: 1px solid #676767;
  }
  .btnChoixNonActive{
    background-color:white ;
    color:#676767;
    border: 1px solid #676767;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
/* .toprow{
  margin-right:2em;
  margin-left:2em;
  margin-top:3em;
  text-align: center;
} */
.topRowCol1{
  border-left:1px solid black;
  border-top:1px solid black;
}

body{
  font-family: 'Montserrat', sans-serif;
}